.container {
        height: 80%;
        width: 80%;
}

.profile-container {
        padding-bottom: 2px;
        padding-top: 8px;
        margin: 10px;
        position: relative;
}

.button-container {
        height: 10%;
}