{% extends isajax|yesno:"profile/ajax_base.html,base.html" %}
{% if isajax is False %}
    {% load static %}
{% endif %}


{% block body_block %}

    <div class="container py-3">

        <div class="row justify-content-center">

            <div class="col-sm-12 text-center py-3">
                <h5>JobOffer</h5>
            </div>

            {% if isajax is True %}
                <div class="col-sm-12">
            {% else %}
                <div class="col-sm-5">
            {% endif %}
                <form method="post">
                    <div class="form-group" id="name">
                        <label class="font-weight-bold text-muted" for="name">Title</label>
                        {% if form.name.value %}
                            <input name="name" type="text" class="form-control" id="name" value="{{ form.name.value }}">
                        {% else %}
                            <input name="name" type="text" class="form-control" id="name">
                        {% endif %}
                    </div>
                    <div class="form-group" id="description">
                        <label class="font-weight-bold text-muted" for="description">Description</label>
                        {% if form.description.value %}
                            <textarea name="description" class="form-control" id="description"
                                      rows="5">{{ form.description.value }}</textarea>
                        {% else %}
                            <textarea name="description" class="form-control" id="description" rows="5"></textarea>
                        {% endif %}
                    </div>
                    <div class="form-group" id="theme">
                        <label class="font-weight-bold text-muted" for="joboffer_theme">Theme</label>
                        <select name="theme" class="form-control" id="joboffer_theme">
                            {% for theme in form.theme %}
                                <option>{{ theme }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="d-flex my-5">
                        <input type="submit" class="btn btn-success btn-lg btn-block" value="Post"/>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}



