{% extends "searcher/searcher.html" %}

{% block header %}
    {% include 'header_company.html' %}
{% endblock %}

{% block searcher %}
        <div class="card bg-light border-dark img-wrapper">
            {% if profile.photo %}
                <img class="card-img-top" src="{{ profile.photo.url }}" alt="...">
            {% else %}
                <img class="card-img-top" src="/media/applicant_logos/default.png" alt="...">
            {% endif %}

            <div class="card-body">
                <h5 class="card-title montserrat">{{ profile.username }}, {{ profile.city }}</h5>
                <p  class="card-text">{{ profile.description }}</p>
            </div>
        </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        function change(data) {
            if ('id' in data) {
                let new_profile_div = "<div class='profile-container'>" +
                    "<div class=\"col-sm-12 align-self-center\">" +
                    "<p>" + data.name + "</p>" +
                    "</div>" +
                    "<div class=\"col-sm-12 align-self-center\">" +
                    "<p>" + data.city + "</p>" +
                    "</div>" +
                    "<div class=\"col-sm-12 align-self-center\">" +
                    "<p>" + data.scope + "</p>" +
                    "</div>";
                Array.prototype.forEach.call(data.themes, theme => {
                    new_profile_div += "<div class='col-sm-4 align-self-center'>" +
                        "<p style='background-color: rosybrown'>" + theme + "</p></div>";
                });
                new_profile_div += "<div class=\"col-sm-12 align-self-center\">" +
                    "<p>" + data.description + "</p>" +
                    "</div>";
                $('div.profile-container').replaceWith(new_profile_div);
            } else {
            $('div.container').replaceWith("No more offers for you"); }
            /*
            $('.company').replaceWith("<p class=\"inner company\" style='background-color: aqua'>"+data.company+"</p>");
            $('.name').replaceWith("<p class=\"inner company\" style='background-color: aqua'>"+data.name+"</p>");
            $('.theme').replaceWith("<p class=\"inner company\" style='background-color: aqua'>"+data.theme+"</p>");
            $('.description').replaceWith("<p class=\"inner company\" style='background-color: aqua'>"+data.description+"</p>");
            */
        }
    </script>
{% endblock %}