{% extends "base.html" %}
{% load static %}

{% block body_block %}

    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand text-white font-weight-bold" href="{% url 'home' %}">Jobinder</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link btn btn-outline-light" href="{% url 'sign_in' %}">Sign In</a>
            </div>
        </div>
    </nav>

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <form method="post">

                    <div class="form-group" id="username">
                        <label class="font-weight-bold" for="username">Username</label>
                        <input name="username" type="text" class="form-control" id="username">
                        <small id="user_help" class="form-text text-muted">You will use this to Sign In.</small>
                    </div>

                    <div class="form-row" id="name">
                        <div class="form-group col-sm-6" id="fname">
                            <label class="font-weight-bold" for="fname">First name</label>
                            <input name="first_name" type="text" class="form-control" id="fname">
                        </div>
                        <div class="form-group col-sm-6" id="lname">
                            <label class="font-weight-bold" for="lname">Last name</label>
                            <input name="last_name" type="text" class="form-control" id="lname">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold" for="email_addr">Email address</label>
                        <input name="email" type="email" class="form-control" id="email_addr">
                        <small id="email_help" class="form-text text-muted">jobinder@account.com.</small>
                    </div>

                    <div class="form-group" id="password1">
                        <label class="font-weight-bold" for="passwd1">Create Password</label>
                        <input name="password1" type="password" class="form-control" id="passwd1">
                        <small id="passwd_help" class="form-text text-muted">Your password must contain at least 8 characters.</small>
                    </div>

                    <div class="form-group" id="password2">
                        <label class="font-weight-bold" for="passwd2">Confirm Password</label>
                        <input name="password2" type="password" class="form-control" id="passwd2">
                    </div>

                    <div class="d-flex mb-3">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="extra_info" onclick="displayExtraInfo()">
                            <label class="custom-control-label text-muted" for="extra_info">
                                Add extra information, we'll offer you more precise job offers.
                            </label>
                        </div>
                    </div>

                    <div class="form-group" id="phone" style="display:none">
                        <label class="font-weight-bold" for="phone">Telephone</label>
                        <input name="telephone" type="tel" class="form-control" id="phone">
                    </div>

                    <div class="form-row" id="address">
                        <div class="form-group col-sm-6" id="city" style="display:none">
                            <label class="font-weight-bold" for="city">City</label>
                            <input name="city" type="text" class="form-control" id="city">
                            <small id="city_help" class="form-text text-muted">
                                We'll offer you applicants closer you.
                            </small>
                        </div>
                        <div class="form-group col-sm-6" id="zip" style="display:none">
                            <label class="font-weight-bold" for="zip">Zip Code</label>
                            <input name="zipCode" type="number" class="form-control" id="zip">
                        </div>
                    </div>

                    <div class="form-group" id="description" style="display:none">
                        <label class="font-weight-bold" for="description">Description</label>
                        <textarea name="description" class="form-control" id="description" rows="4"></textarea>
                        <small id="desc_help" class="form-text text-muted">
                            Let companies know more about you.
                        </small>
                    </div>

                    {% if form.username.errors %}
                        {% for error in form.username.errors %}
                            <p>{{ error|escape }}</p>
                        {% endfor %}
                    {% endif %}
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <p>{{ error|escape }}</p>
                        {% endfor %}
                    {% endif %}
                    {% if form.password1.errors %}
                        {% for error in form.password1.errors %}
                            <p>{{ error|escape }}</p>
                        {% endfor %}
                    {% endif %}
                    {% if form.password2.errors %}
                        {% for error in form.password2.errors %}
                            <p>{{ error|escape }}</p>
                        {% endfor %}
                    {% endif %}

                    <div class="d-flex my-5 justify-content-end">
                        <input type="submit" class="btn btn-outline-warning" value="Sign Up"/>
                    </div>

                    {% csrf_token %}
                </form>
            </div>
        </div>


        <script type="text/javascript">

            function displayExtraInfo() {
                var button = document.getElementById("extra_info");
                var phone_field = document.getElementById("phone");
                var city_field = document.getElementById("city");
                var zip_field = document.getElementById("zip");
                var desc_field = document.getElementById("description");

                // If the checkbox is checked, display extra fields.
                if (button.checked == true) {
                    phone_field.style.display = "block";
                    city_field.style.display = "block";
                    zip_field.style.display = "block";
                    desc_field.style.display = "block";
                } else {
                    phone_field.style.display = "none";
                    city_field.style.display = "none";
                    zip_field.style.display = "none";
                    desc_field.style.display = "none";
                }
            }
        </script>
    </div>

{% endblock %}